@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --max-width: 1100px;
  --nav-height: 50px;

  --black: #111111;
  --white: #EEEEE1;

  font-family: 'Inter', sans-serif;
  color: var(--black);
  background: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


html,
body,
#root {
  @apply h-full;
}
